.container {
  width: 100%;
  height: auto;
  display: flex;
}

.left {
  background-color: azure;
  height: auto;
  width: 300px;
  float: left;
  padding: 10px;
}

.right {
  text-align: center;
  height: 60px;
  padding: 20px;
  background-color: cadetblue;
}

.right h3 {
  width: 300px;
}
